:root {
    /* Major Third typescale */
    --h1: 2.986rem;
    --h2: 2.488rem;
    --h3: 2.074rem;
    --h4: 1.728rem;
    --h5: 1.44rem;
    --h6: 1.2rem;
    --p: 1rem;
    --caption: 0.833rem;
    font-family: Tahoma, sans-serif;

    /* Color palette */
    --primary: #334b5f;
    --secondary: #507594;
    --neutral-black: #06080F;
    --neutral-white: #ECEBE6;

    /* Spacing */
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 48px;
    --space-xxl: 80px;

    background-color: var(--neutral-white);
    color: var(--neutral-black);
    --content-width: 1000px;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--p);
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Header styles */
.header, .footer{
    background-color: var(--primary);
    padding: 16px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: var(--content-width);
    margin: auto;
}

.nav-links {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: var(--neutral-white);
    font-size: var(--h6);
}

.hml-logo {
    width: 50px;
    color: var(--neutral-white);
}

#name {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    color: var(--neutral-white);
    text-decoration: none;
    font-size: var(--h5);
    font-weight: 800;
}

/* Intro styles */
.hero, .featured {
    margin: var(--space-xxl) auto;
    max-width: var(--content-width);
    padding: var(--space-s);
}

.intro h1{
    margin-bottom: var(--space-xs);
}

.intro h6, .intro p {
    margin-bottom: var(--space-s);
}

.socials {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}

.icon-black {
    color: var(--neutral-black);
}

/* Project Card styles */
#project-card {
    width: 100%;
    border-radius: 16px;
    filter: drop-shadow(2px 2px 4px var(--secondary));
    background-color: var(--neutral-white);
    overflow: clip;
    margin: 48px 0;
}

.card-link {
    text-decoration: none;
    color: var(--neutral-black);
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}

@media (width <= 750px) {
    .card-content {
        grid-template-columns: 1fr;
    }
}

.thumb-container {
    overflow: clip;
    box-sizing: border-box;
    max-height: 400px;
}

.thumbnail {
    object-fit: scale-down;
    width: 400px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-xs);
    padding: 16px;
    justify-content: flex-start;
    max-width: 600px;
}

.tags {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags .tag {
    background-color: var(--secondary);
    color: var(--neutral-white);
    padding: 8px;
    border-radius: 8px;
}

/* Foooter styles */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    color: var(--neutral-white);
    margin: 0;
}
